@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", Helvetica, sans-serif
}

html {
    background-color: rgb(4, 4, 75);
    color: white;
}

a.thumbnail{
    display: flex;
    
    background: none;
    
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

a {
    text-decoration: none;
    color: rgb(58, 58, 250);
    background: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}



section h2 {
    margin-bottom: 0.3em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    border-bottom: solid;
    background-color: darkblue;
}

nav div.logo-container {
    font-size: 220%;
}

nav ul {
    display: flex;
    gap: 1em;
}

nav ul li {
    display: inline;
    font-size: 1.5em;
}

div.center-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
    margin: 0.5em 0;
    max-width: 80%;

}

main section {
    background-color: rgb(58,58,250);
    border-radius: 1em;
    padding: 2em;   
}

section.projects{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section.projects div.center-content{
    display: flex;
    justify-content: center;
}

section.projects div.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    
    
}

section.projects div.card {
    outline-color: white;
    outline-style:outset;
    
    padding: 0.8em;
    border-radius: 0.5em
}

section.projects div.card img{
    outline-color: white;
    outline-style:solid;
    border-radius: 0.5em;
    width: 100%;
}

section.projects div.card ul{
    padding: 0.5em 0em 0em 0em;
}

section.projects div.card ul li{
    display: inline-flex;
    
    font-size: 0.8em;
    background-color: rgb(174, 199, 255);
    color: white;
    border-radius: 0.2em;
    padding: 0em 0.5em;
    margin: 0.3em 0em 0em 0em;
    
}

div.project-description{
    padding: 0.75em 0.1em;
}

a.card{
    display: block;
    color:white;
    background: none;
}

div.project-description a.project-title{
    background: none;
    color: white;
    padding: 0;
}

@media (min-width: 700px) {
    nav ul li .menu-btn {
        display: none;
    }
}

@media (max-width:700px){
    nav ul li {
        display: none;
    }

    nav{
        padding: 2em 2em;
    }

    main {
        max-width: 90%;
    }

    section.projects div.card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px){
    nav{
        padding: 2em 2em;
    }
    main {
        width: 100%;
    }
    section.projects div.card-container{
        grid-template-columns: 1fr;
    }
}