@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", Helvetica, sans-serif
}

html {
    background-color: rgb(58, 58, 250);
    color: white;
}

a {
    text-decoration: none;
    color: rgb(58, 58, 250);
    background: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    border-bottom: solid;
    background-color: darkblue;
}

nav div.logo-container {
    font-size: 220%;
}

nav ul {
    display: flex;
    gap: 1em;
}

nav ul li {
    display: inline;
    font-size: 1.5em;
}

div.center-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
    margin: 0.5em 0;
    max-width: 80%;

}

main section {
    background-color: rgb(25, 25, 227);
    border-radius: 1em;
    padding: 2em;   
}

section.projects{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


section.projects div.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

section.projects div.card {
    background-color: blue;
    padding: 0.8em;
    border-radius: 0.5em
}

section.projects div.card img{
    border-radius: 0.5em;
}